## 1. ΛΙΣΤΕΣ (συνέχεια)

In [1]:
names = ["Efi", "Evi", "Georgie", "Vaso","Katy", "Chrissie"]

In [2]:
names[0:2]

['Efi', 'Evi']

In [3]:
names[::2]

['Efi', 'Georgie', 'Katy']

In [4]:
names[::-2]

['Chrissie', 'Vaso', 'Evi']

In [5]:
l1 = range(4)
l2 = range(10,15)
print l1
print l2

[0, 1, 2, 3]
[10, 11, 12, 13, 14]

In [6]:
l1 + l2

[0, 1, 2, 3, 10, 11, 12, 13, 14]

In [7]:
l3 = l1+l2

In [8]:
l3.append(20)
l3

[0, 1, 2, 3, 10, 11, 12, 13, 14, 20]

In [9]:
l3.extend([21,22,23])
l3

[0, 1, 2, 3, 10, 11, 12, 13, 14, 20, 21, 22, 23]

In [10]:
names

['Efi', 'Evi', 'Georgie', 'Vaso', 'Katy', 'Chrissie']

In [11]:
names[6:1:-3]

['Chrissie', 'Georgie']

In [12]:
names + ['Maria']

['Efi', 'Evi', 'Georgie', 'Vaso', 'Katy', 'Chrissie', 'Maria']

In [13]:
names += ['Jane']

In [14]:
names

['Efi', 'Evi', 'Georgie', 'Vaso', 'Katy', 'Chrissie', 'Jane']

In [15]:
n = 5
n *= 6
n

30

In [16]:
newnames = ['Andy', 'Tom','John']
for name in newnames:
    names.append(name)
names

['Efi',
 'Evi',
 'Georgie',
 'Vaso',
 'Katy',
 'Chrissie',
 'Jane',
 'Andy',
 'Tom',
 'John']

Προσθήκη στοιχείου λίστας σε ΣΥΓΚΕΡΜΕΝΗ θέση μέσω της μεθόδου listname.insert(index, element)

In [17]:
names

['Efi',
 'Evi',
 'Georgie',
 'Vaso',
 'Katy',
 'Chrissie',
 'Jane',
 'Andy',
 'Tom',
 'John']

In [18]:
names.insert(3,'Gus')
names

['Efi',
 'Evi',
 'Georgie',
 'Gus',
 'Vaso',
 'Katy',
 'Chrissie',
 'Jane',
 'Andy',
 'Tom',
 'John']

In [19]:
names.insert(3,'Gus')
names

['Efi',
 'Evi',
 'Georgie',
 'Gus',
 'Gus',
 'Vaso',
 'Katy',
 'Chrissie',
 'Jane',
 'Andy',
 'Tom',
 'John']

In [20]:
names.insert(7,[100,200])
names

['Efi',
 'Evi',
 'Georgie',
 'Gus',
 'Gus',
 'Vaso',
 'Katy',
 [100, 200],
 'Chrissie',
 'Jane',
 'Andy',
 'Tom',
 'John']

Αφαίρεση στοιχείου λίστας με 
* del listname[index]
* listname.remove(element)
* listname.pop(index), listname.pop()

In [21]:
del names[7]
names.insert(3,'Gus')
names

['Efi',
 'Evi',
 'Georgie',
 'Gus',
 'Gus',
 'Gus',
 'Vaso',
 'Katy',
 'Chrissie',
 'Jane',
 'Andy',
 'Tom',
 'John']

In [22]:
# del names[7,9]

In [23]:
del names[7], names[9]

In [24]:
names

['Efi',
 'Evi',
 'Georgie',
 'Gus',
 'Gus',
 'Gus',
 'Vaso',
 'Chrissie',
 'Jane',
 'Tom',
 'John']

In [25]:
del names[6], names[1]
names

['Efi', 'Georgie', 'Gus', 'Gus', 'Gus', 'Chrissie', 'Jane', 'Tom', 'John']

In [26]:
# names.remove(2)
# names

In [27]:
names.remove('Gus')
names

['Efi', 'Georgie', 'Gus', 'Gus', 'Chrissie', 'Jane', 'Tom', 'John']

In [28]:
# names.remove('Gus','Andy')
# names

In [29]:
names

['Efi', 'Georgie', 'Gus', 'Gus', 'Chrissie', 'Jane', 'Tom', 'John']

In [30]:
excluded = ['Gus', 'Jane']
for i in excluded:
    names.remove(i)
names

['Efi', 'Georgie', 'Gus', 'Chrissie', 'Tom', 'John']

In [31]:
names.pop() #me () xwris tipote mesa, (1) afairei to TELYTAIO stoixeio 
# kai (2) to typwnei

'John'

In [32]:
names

['Efi', 'Georgie', 'Gus', 'Chrissie', 'Tom']

In [33]:
names.pop(2) #opws prin gia to stoixeio stin thesi 2

'Gus'

In [34]:
names

['Efi', 'Georgie', 'Chrissie', 'Tom']

In [35]:
nums = range(1000, 2001, 23)

In [36]:
23*13

299

In [37]:
nums.index(1299)

13

In [38]:
# nums.index(1800)

In [39]:
1800 in nums

False

In [40]:
1299 in nums

True

In [41]:
names1 = names*3
names1

['Efi',
 'Georgie',
 'Chrissie',
 'Tom',
 'Efi',
 'Georgie',
 'Chrissie',
 'Tom',
 'Efi',
 'Georgie',
 'Chrissie',
 'Tom']

In [42]:
names1.index('Tom')

3

In [43]:
names1.remove('Tom')
names1

['Efi',
 'Georgie',
 'Chrissie',
 'Efi',
 'Georgie',
 'Chrissie',
 'Tom',
 'Efi',
 'Georgie',
 'Chrissie',
 'Tom']

In [44]:
names1.count('Tom')

2

In [45]:
names1.count('Efi')

3

In [46]:
names

['Efi', 'Georgie', 'Chrissie', 'Tom']

In [47]:
for i in range(len(names1)):
    print 'Element', names1[i], 'appears', names1.count(names1[i]), 'times'

Element Efi appears 3 times
Element Georgie appears 3 times
Element Chrissie appears 3 times
Element Efi appears 3 times
Element Georgie appears 3 times
Element Chrissie appears 3 times
Element Tom appears 2 times
Element Efi appears 3 times
Element Georgie appears 3 times
Element Chrissie appears 3 times
Element Tom appears 2 times

In [48]:
namesunique=set(names1)
namesunique

{'Chrissie', 'Efi', 'Georgie', 'Tom'}

In [49]:
for name in namesunique:
    print name, 'appears', names1.count(name), 'times'

Efi appears 3 times
Chrissie appears 3 times
Tom appears 2 times
Georgie appears 3 times

In [50]:
','.join(names1)

'Efi,Georgie,Chrissie,Efi,Georgie,Chrissie,Tom,Efi,Georgie,Chrissie,Tom'

In [51]:
', '.join(names1)

'Efi, Georgie, Chrissie, Efi, Georgie, Chrissie, Tom, Efi, Georgie, Chrissie, Tom'

In [52]:
' * '.join(names1)

'Efi * Georgie * Chrissie * Efi * Georgie * Chrissie * Tom * Efi * Georgie * Chrissie * Tom'

In [53]:
sent = 'Xthes epaizan PAOK kai OSFP'

In [54]:
lista = sent.split(' ')
lista

['Xthes', 'epaizan', 'PAOK', 'kai', 'OSFP']

In [55]:
der = ' '.join(lista)
der

'Xthes epaizan PAOK kai OSFP'

In [56]:
der == sent

True

In [57]:
names

['Efi', 'Georgie', 'Chrissie', 'Tom']

In [58]:
names.sort()
names

['Chrissie', 'Efi', 'Georgie', 'Tom']

In [59]:
nm1=['efi', 'Georgie', 'Chrissie', 'Tom']
nm1.sort()
nm1

['Chrissie', 'Georgie', 'Tom', 'efi']

In [60]:
nm1=['efi', 'Georgie', 'Chrissie', 'Tom']
nm2 = sorted(nm1)
nm2

['Chrissie', 'Georgie', 'Tom', 'efi']

In [61]:
nm1 == nm2

False

In [62]:
a=[1,2,3]
b = a
b

[1, 2, 3]

In [63]:
b[1]=2000
print b
a

[1, 2000, 3]

[1, 2000, 3]

In [64]:
from copy import deepcopy
a=[1,2,3]
b = deepcopy(a)
print a, b

[1, 2, 3] [1, 2, 3]

In [65]:
b[1]=2000
print b
a

[1, 2000, 3]

[1, 2, 3]

# 2. ΣΥΜΒΟΛΟΣΕΙΡΕΣ

In [66]:
# Συνένωση (+) και επανάληψη (*)
s, t = 'Hello', 'World'
print s + t
print s + ' ' + t + '!'
st = s + ' ' + t + '!'
st1 = st + ' '
print 2*st
print st*2
print st1*2

HelloWorld
Hello World!
Hello World!Hello World!
Hello World!Hello World!
Hello World! Hello World!

In [67]:
# Τεμαχισμοί (Slicing): [ ]
salut = "Pws se lene?"
print salut[4]
print salut[-1]
print salut[-6]
print len(salut)
print salut[2:8]
print salut[2:], salut[:8]
print salut[:]
#print salut[16], salut[6:20]
print salut[1:10:3]
print salut[::3]

print salut[-4:]
print salut[-6:-2]

print salut[-10:-1:3]
print salut[10:1:-3]

print salut[-1::-1] # Αντιστροφή
print salut[::-1] #Άλλος τρόπος αντιστροφής

print 'Gewrgia Giannakopoulou'[-1::-1]

s
?

12
s se l
s se lene? Pws se l
Pws se lene?
wsl
P  n
ene?
 len
see
els
?enel es swP
?enel es swP
uoluopokannaiG aigrweG

In [68]:
# Χωρισμοί (Splitting) συμβολοσειράς σε λίστα με string.split()
print salut.split()
print salut.split('e')

frasi = "O kairos einai kalos alla oi Lakers exasan enw ksekina to karnabali stin Patra."
#Metrisi leksewn stin "frasi" (opou "leksi" einai otidipote metaksy kenwn)
print 'To plithos twn leksewn tis frasis einai', len(frasi.split())

['Pws', 'se', 'lene?']
['Pws s', ' l', 'n', '?']
To plithos twn leksewn tis frasis einai 14

In [69]:
# Σχηματισμός συμβολοσειράς από λίστα με join
lista = salut.split()
symboloseira = ' '.join(lista)
print symboloseira
salut == symboloseira

Pws se lene?

True

In [70]:
# Απομάκρυνση αρχικών ή τελικών κενών ή κλπ. με το strip
salut1 = "   Pws se lene?    "
print salut1.strip()
print '*' + st1*2 + '*'
st2 = st1*2
print st2
print '*' + st2.strip() + '*'
salut2 = "...   Pws se lene?    ....."
print salut2.strip('.').strip()
print salut2.strip().strip('.')
print salut.strip('?')
print salut.strip('X')
#upper, lower
print salut.upper()
print salut.lower()
print salut.swapcase()

Pws se lene?
*Hello World! Hello World! *
Hello World! Hello World!
*Hello World! Hello World!*
Pws se lene?
   Pws se lene?
Pws se lene
Pws se lene?
PWS SE LENE?
pws se lene?
pWS SE LENE?

In [71]:
# Εύρεση συμβόλου (ή υποσυμβολοσειράς) μέσα σε δοθείσα συμβολοσειρά με string.find('s')

In [72]:
str = "Mississippi"
str.find('s') #βρίσκει την πρώτη θέση από αριστερά που συναντά το 's'
str.find('i')
str.rfind('s') #βρίσκει την πρώτη θέση από δεξιά που συναντά το 's'
print len(str)
str.rfind('i')
str.find('a') #Επιστρέφει -1 όταν δεν υπάρχει μέσα στη συμβολοσειρά η αναζήτηση
str.find('sip')
str.find('ipi')
# str.find('i','p')

11

-1

In [73]:
str = "Mississippi"
str1 = str.replace('i','a') #Αντικαθιστά σε αντίγραφο (η αρχική συμβολοσειρά μένει ίδια)
print str, str1
str2 = str.replace('s','axh')
print str, str2
str.replace('q','axh') #Επειδή δεν υπάρχει το q βγάζει το αρχικό χωρίς καμία αλλαγή
protasi = "Simera brexei kai den mporoume na pame sto karnabali"
protasi_ana = protasi.replace('sto karnabali','stin ekdromi')
print protasi_ana
protasi_ana.replace('Simera brexei kai d','D')
print str.replace('s','x',1), str.replace('s','x',2), str.replace('s','x',3), str.replace('s','x',4), str.replace('s','x',5)

Mississippi Massassappa
Mississippi Miaxhaxhiaxhaxhippi
Simera brexei kai den mporoume na pame stin ekdromi
Mixsissippi Mixxissippi Mixxixsippi Mixxixxippi Mixxixxippi

# 3. ΠΛΕΙΑΔΕΣ

In [74]:
lista = range(5)
tuplea = tuple(lista) #1 tuple
tuple1 = (lista)      #2 list!!!!!
print lista, type(lista)
print tuplea, type(tuplea) #1 tuple
print tuple1, type(tuple1) #2 list!!!!!
print tuplea[2], type(tuplea[2]) #Η εξαγωγή με [ενός στοιχείου] δίνει το στοιχείο
print tuplea[1:4], type(tuplea[1:4]) #Η εξαγωγή με [α:β] δίνει tuple
print tuplea[:]
lista1 = list(tuplea)
print lista1, type(lista1)
lista1 == lista

[0, 1, 2, 3, 4] <type 'list'>
(0, 1, 2, 3, 4) <type 'tuple'>
[0, 1, 2, 3, 4] <type 'list'>
2 <type 'int'>
(1, 2, 3) <type 'tuple'>
(0, 1, 2, 3, 4)
[0, 1, 2, 3, 4] <type 'list'>

True

In [75]:
#Πλειάδα με μόνο ένα στοιχείο (μήκους 1)
monot = ('a') #ΔΕΝ ΕΙΝΑ TUPLE OTAN EXEI ENA STOIXEIO
monot0 = tuple('a')
monot1 = 'a',
print type(monot), type(monot1), type(monot0)
print monot == monot1
print monot1 == monot0
tuplex = ('a','b') #Είναι tuple με τουλάχιστον 2 στοιχεία
print tuplex, type(tuplex)
d1 = 3.
d1a = '3.'
d2 = (3)
d4 = 3,
print type(d1), type(d1a), type(d2), type(d4)
dd = 3,4,
ddd = 3,4
print type(dd), type(ddd)
dd == ddd
tt = dd + d4
print tt, type(tt)

<type 'str'> <type 'tuple'> <type 'tuple'>
False
True
('a', 'b') <type 'tuple'>
<type 'float'> <type 'str'> <type 'int'> <type 'tuple'>
<type 'tuple'> <type 'tuple'>
(3, 4, 3) <type 'tuple'>

* Όσοι τελεστές δεν μεταβάλουν τα στοιχεία μιας λίστας ισχύουν και πάνω σε πλειάδες
* Οι συνενώσεις πλειάδων και ο τεμαχισμός (slicing) δουλεύουν όπως στις λίστες
* Τα append, extend, del, remove, pop, insert, αντικαταστάσεις στοιχείων ΔΕΝ δουλεύουν για πλειάδες!

# 4. ΛΕΞΙΚΑ

* **Λεξικό** είναι ο τύπος μιας διατεταγμένης συλλογής στοιχείων, τα οποία είναι δομημένα ως ζευγάρια **κλειδιών**-**τιμών**, τέτοια ώστε κάθε κλειδί να αντιστοιχεί σε μια τιμή και: 
* Τα κλειδιά πρέπει να είναι μόνο δεδομένα αμετάβλητου τύπου (όπως συμβολοσειρές, αριθμοί ή πλειάδες), αλλά οι τιμές μπορεί να είναι δεδομένα οποιουδήποτε τύπου. 
* Ένα λεξικό συμβολίζεται ως **{key_1: value_1, key_2: value_2, ...}**.
* Το κενό λεξικό είναι το **null_dictionary = {}** ή **dict()** και συνήθως χρησιμοποιείται για την κατασκευή ενός λεξικού με διαδοχικές προσθήκες στοιχείων (μέσω dictionary[key] = value).
* Το **μήκος** ενός λεξικού **len(dictionary)** είναι το πλήθος των στοιχείων του. (Προφανώς, len({}) = 0.)

In [76]:
#Etoimo gemmato lexiko:
d = {'Giwrgos':'Tinos','G2':'Lamia','Katerina':'Vitina','Nikos':'Agio'}
print d, len(d)
d1 = dict()
print d1

{'Katerina': 'Vitina', 'Giwrgos': 'Tinos', 'G2': 'Lamia', 'Nikos': 'Agio'} 4
{}

In [77]:
#Prosdiorismos stoixeiwn me indices - slicing []
# d[key_i] = value_i
print d['G2'], d['Nikos']

Lamia Agio

In [78]:
#Ktisimo lexikou apo tipote (adeio, arxika)
d0 = {}
# d0 = dict()
d0['J'] = 1.80
d0['M'] = 1.78
d0['C'] = 1.90
print d0
#Allagi timwn sto idio kleidi
d0['M'] = 1.70
print d0

{'C': 1.9, 'J': 1.8, 'M': 1.78}
{'C': 1.9, 'J': 1.8, 'M': 1.7}

* Πρόσβαση στη λίστα όλων των κλειδιών με **dictionary.keys()**
* Πρόσβαση στη λίστα όλων των τιμών με **dictionary.values()**
* Πρόσβαση στην πλειάδα όλων των κλειδιών-τιμών με **dictionary.items()**

In [79]:
print d.keys()   #epistrefei ti lista twn kleidiwn
print d.values() #epistrefei ti lista twn timwnwn
print d.items() #epistrefei tin pleiada twn (kleidiwn,timwn)

['Katerina', 'Giwrgos', 'G2', 'Nikos']
['Vitina', 'Tinos', 'Lamia', 'Agio']
[('Katerina', 'Vitina'), ('Giwrgos', 'Tinos'), ('G2', 'Lamia'), ('Nikos', 'Agio')]

In [80]:
#Allagi kleidiwn me afairesi paliou kai prosthiki neou
d = {'Giwrgos':'Tinos','G2':'Lamia','Katerina':'Vitina','Nikos':'Agio'}
print d
#1 Afairesi me pop
d.pop('G2')
print d
#2 Prosthiki enos kleidiou
d['GiwrgosK'] ='Lamia'
print d

#Prosthiki enos ;h perissoterwn stoixeiwn se lexiko
d.update({'Ulrik':'Germany','Juan':'Spain'})
print d

#Afairesi me del (1 stoixeiou)
del d['Ulrik']
print d

d.update({'Ulrik':'Germany'})
print d

#PROSTHIKH TOY IDIOY STOIXEIOY  D E N  TO EPANALAMBANEI
d.update({'Ulrik':'Germany'})
print d

d['GiwrgosK'] ='Lamia'
print d

d['GiwrgosK'] ='Lamia SE'
print d

#H AFAIRESH (eite me pop 'h me del) 
#STOIXEIOY POY DEN YPARXEI DINEI E R R O R

{'Katerina': 'Vitina', 'Giwrgos': 'Tinos', 'G2': 'Lamia', 'Nikos': 'Agio'}
{'Katerina': 'Vitina', 'Giwrgos': 'Tinos', 'Nikos': 'Agio'}
{'Katerina': 'Vitina', 'GiwrgosK': 'Lamia', 'Giwrgos': 'Tinos', 'Nikos': 'Agio'}
{'Katerina': 'Vitina', 'Giwrgos': 'Tinos', 'Ulrik': 'Germany', 'Juan': 'Spain', 'Nikos': 'Agio', 'GiwrgosK': 'Lamia'}
{'Katerina': 'Vitina', 'Giwrgos': 'Tinos', 'Juan': 'Spain', 'Nikos': 'Agio', 'GiwrgosK': 'Lamia'}
{'Katerina': 'Vitina', 'Giwrgos': 'Tinos', 'Ulrik': 'Germany', 'Juan': 'Spain', 'Nikos': 'Agio', 'GiwrgosK': 'Lamia'}
{'Katerina': 'Vitina', 'Giwrgos': 'Tinos', 'Ulrik': 'Germany', 'Juan': 'Spain', 'Nikos': 'Agio', 'GiwrgosK': 'Lamia'}
{'Katerina': 'Vitina', 'Giwrgos': 'Tinos', 'Ulrik': 'Germany', 'Juan': 'Spain', 'Nikos': 'Agio', 'GiwrgosK': 'Lamia'}
{'Katerina': 'Vitina', 'Giwrgos': 'Tinos', 'Ulrik': 'Germany', 'Juan': 'Spain', 'Nikos': 'Agio', 'GiwrgosK': 'Lamia SE'}

In [ ]:
# Genikws se ena lexiko i antistoixisi kleidwin timwn 
# prepei na einai 1-1

# Ara to mono pou MPOROYME na exoume einai
# tin idia timi se polla kleidia

# Alla D E N  mporoume na exoume:
# ta idia (pollapla) kleidia me diaforetikes 'h idies times
# diladi 
# OXI polles fores ta idia kleidia me tis idies times
# OXI polles fores ta idia kleidia me diaforetikes times

In [81]:
# Evresi kleidiwn pou antistoixoun se mia dedomeni timi
# Epeidi tin idia timi mporei na tin exoun polla kleidia, genikws, ta kleidia pou antistoixoun 
# se mia dedomeni timi tha sximatizoun mia LISTA

d['Maria'] = 'Vitina'
print d

searched_value = 'Vitina'
found_keys = []
for key, value in d.items():
    if d[key] == searched_value:
        found_keys.append(key)
print found_keys

searched_value = 'Agio'
found_keys = []
for key, value in d.items():
    if d[key] == searched_value:
        found_keys.append(key)
print found_keys

{'Katerina': 'Vitina', 'Giwrgos': 'Tinos', 'Ulrik': 'Germany', 'Juan': 'Spain', 'Maria': 'Vitina', 'Nikos': 'Agio', 'GiwrgosK': 'Lamia SE'}
['Katerina', 'Maria']
['Nikos']

In [82]:
# O broxos (loop) pou ylopoiei tin evresi kleidiwn pou antistoixoun se mia dedomeni timi:

lex={'a':10,'b':5,'c':10,'b':15}
#Na brethoun ta kleidia pou antistoixoun stin timi 10
searched_value = 10
found_keys = []
for key, value in lex.items():
    if lex[key] == searched_value:
        found_keys.append(key)
print found_keys

['a', 'c']

In [83]:
# lex={'a':10,'b':5,'c':10,'b':15}

# print lex
# searched_value = 'b'
# found_values = []
print lex.items()
for key, value in lex.items():
    if key == 'b':
#         found_values.append(value)
        print value

[('a', 10), ('c', 10), ('b', 15)]
15

In [84]:
# Genikws se ena lexiko i antistoixisi kleidwin timwn 
# prepei na einai 1-1

# TI MPOROYME NA KANOYME gia Idia (pollapla) kleidia me diaforetikes times???
# H kalyteri apantisi einai na BALOYME tis pollaples times enos kleidiou 
# eite mesa se mia pleiada (Case 1) 
# 'h na baloume oles tis times twn kleidiwn tou lexikou mesa se listes (Case 2)
# kai na ANTISTREPSOYME kleidia-times, opws parakatw:

In [94]:
mlex={'a':10,'b':5,'c':10,'b':15}
# DEN EINAI LEXIKO
type(mlex)

dict

In [101]:
# Case 1. Kapoies times ws PLEIADES

# Estw oti theloume sto kleidi 'b' na dwsoume 2 times, 5 kai 15.
# Tote anti gia lex={'a':10,'b':5,'c':10,'b':15} grafoume
mlex={'a':10,'b':(5,15),'c':5}
print 'mlex =', mlex
# Antistrofi kleidiwn-timwn
rmlex = dict()
for key, value in mlex.items():
    rmlex[value] = key
print 'rmlex =', rmlex

mlex = {'a': 10, 'c': 5, 'b': (5, 15)}
rmlex = {10: 'a', (5, 15): 'b', 5: 'c'}

In [102]:
# Alliws me COMPREHENSION

rmlex = dict((value, key) for key, value in mlex.iteritems())
print 'rmlex =', rmlex

rmlex = {10: 'a', (5, 15): 'b', 5: 'c'}

In [90]:
# Case 2. Oles oi times ws LISTES

# Tote grafoume
mlexl={'a':[10],'b':[5,15],'c':[5]}
rmlexl={}
for i,k in mlexl.items():
    for j in k:
        if j not in rmlexl:
            rmlexl[j]=[i]
        else:
            rmlexl[j].append(i)
print rmlexl

{10: ['a'], 5: ['c', 'b'], 15: ['b']}

In [92]:
# PROSOXH: i periptwsi na baloume mono kapoies times se lista DEN DOYLEYEI!
#  G I A T I  ? ? ? ? ?

# mlex={'a':10,'b':[5,15],'c':10}
# print mlex
# # Antistrofi kleidiwn-timwn
# rmlex = dict((value, key) for key, value in mlex.iteritems())
# print rmlex

# 5. ΣΥΝΟΛΑ

* **Σύνολο** είναι ο τύπος μιας **ΜΗ διατεταγμένης** συλλογής (ή ακολουθίας) **διακριτών** στοιχείων τέτοιας ώστε: 
* Τα στοιχεία αυτά μπορούν να είναι δεδομένα οποιουδήποτε τύπου, που **μπορούν να μεταβληθούν** (από την δράση διάφορων τελεστών).
* Ένα σύνολο συμβολίζεται ως **set([a, b, c, d, ...])**.
* Το κενό σύνολο είναι η **null_set = set()** και συνήθως χρησιμοποιείται για την κατασκευή ενός λεξικού με διαδοχικές προσθήκες στοιχείων (μέσω add ή update).
* Το **μήκος** ενός συνόλου **len(list)** είναι το πλήθος των στοιχείων του. (Προφανώς, len(set() = 0.)

In [107]:
list1 = range(5) + [3,4]
print 'list1 =', list1, type(list1)
ss = set(list1)
print 'set(list1) =', ss, type(ss)
sss = set([10,11,12])
print list(sss), type(sss), type(list(sss))

list1 = [0, 1, 2, 3, 4, 3, 4] <type 'list'>
set(list1) = set([0, 1, 2, 3, 4]) <type 'set'>
[10, 11, 12] <type 'set'> <type 'list'>

In [116]:
# Τα σύνολα ΔΕΝ υποστηρίζουν δείκτες 
# (πρόσβαση στα στοιχεία τους με [ ])!

# sss[1]

# Ara i prosbasi sta stoixeia tou synolou ginetai mesw
# tis antistoixis listas

# Pws allazoume stoixeia se synola (mesw tis antistoixis lista)

print list(sss)[1]
lst = list(sss)
lst[1] = 101
print lst
sss1 = set(lst)
print sss1

11
[10, 101, 12]
set([10, 12, 101])

* Αλλαγές στα στοιχεία συνόλου με:
 - Προσθήκη **ενός** στοιχείου με **set.add**
 - Προσθήκη **πολλών** στοιχείων με **set.update**
 - Αφαίρεση στοιχείων με **set.discard**, **set.remove** και **set.clear**

In [16]:
syn = set()
syn.add("x")
print syn
syn.update(['a','m','n'])
print syn
syn.discard('m')
print syn
syn.remove('n')
print syn
syn.clear()
print syn
syn1 = set(['a','m','n'])
syn1.discard('b')
#  syn1.remove('b')

set(['x'])
set(['a', 'x', 'm', 'n'])
set(['a', 'x', 'n'])
set(['a', 'x'])
set([])

### Συνδυασμοί Συνόλων

#### Ένωση

In [15]:
s1 = set([1,2,5])
s2 = set([1,2,3,4])
s3 = set(['a','b','c'])

s1unions2 = s1.union(s2)
print s1unions2
s2unions1 = s2.union(s1)
print s1unions2 == s2unions1
print s1.union(s3)

# Enas allos symbolismos tis enwsis einai
s12 = s1 | s2
s12 == s1unions2
print set(['a']).union(set(['aa']))
'a' == 'aa'

set([1, 2, 3, 4, 5])
True
set(['a', 1, 2, 'b', 5, 'c'])
set(['a', 'aa'])

False

#### Τομή

In [17]:
print s1.intersection(s2)
print s1.intersection(s2) == s2.intersection(s1)
print s1.intersection(s3)

# Enas allos symbolismos tis tomis einai
s12 = s1 & s2
print s12
s12 == s2.intersection(s1)

set([1, 2])
True
set([])
set([1, 2])

True

#### Διαφορά

In [20]:
print s1.difference(s2)
print s1.difference(s2) == s1.difference(s2)
print s1.difference(s3) 
print s1.difference(s3) == s1

# Enas allos symbolismos tis diaforas einai
s12 = s1 - s2
print s12
s12 == s2.difference(s1)

set([5])
True
set([1, 2, 5])
True
set([5])

False

#### Συμμετρική Διαφορά

In [24]:
print s1.symmetric_difference(s2)
print s1.symmetric_difference(s2) == s1.symmetric_difference(s2)
print s1.symmetric_difference(s3) 
print s1.symmetric_difference(s3) == s1.union(s3)

# Enas allos symbolismos tis symmetrikis diaforas einai
s12 = s1 ^ s2
print s12
s12 == s2.symmetric_difference(s1)

set([3, 4, 5])
True
set(['a', 1, 'c', 'b', 5, 2])
True
set([3, 4, 5])

True

## 6. Συμπληρωματικά

#### Σχόλια με '#'

In [29]:
# An se kapoio simeio mias grammis-input yparxei to # 
# den ekteleitai tipote dexia tou #
# Ara an mia grammi arxizei me # den ekteleitai: 
# einai sxolio (sxoliasmos) 'h epeksigisi 'h odigia

s1.intersection(s2) # einai i tomi twn s1 kai s2

# Enalaktika: xrisi tou docstring '''....''' typwnei!
# '\n' = ALLAGI GRAMMIS stin ektypwsi

'''
An se kapoio simeio mias grammis-input yparxei to # 
den ekteleitai tipote dexia tou #
Ara an mia grammi arxizei me # den ekteleitai: 
einai sxolio (sxoliasmos) 'h epeksigisi 'h odigia
'''

"\nAn se kapoio simeio mias grammis-input yparxei to # \nden ekteleitai tipote dexia tou #\nAra an mia grammi arxizei me # den ekteleitai: \neinai sxolio (sxoliasmos) 'h epeksigisi 'h odigia\n"

#### zip δυο ισομηκών λιστών σε μια λίστα από ζεύγη-πλειάδες αντίστοιχων στοιχείων

In [53]:
xaxis = [1,2,5,3]
yaxis = [10,8,34,-7]
print zip(xaxis,yaxis)

# An oi listes DEN einai isomikis, to zip doulevei gia
# ta PRWTA isomiki stoixeia
xaxis = [1,2,5,3,300]
yaxis = [10,8,34,-7,4,5,6]
zip(xaxis,yaxis)

[(1, 10), (2, 8), (5, 34), (3, -7)]

[(1, 10), (2, 8), (5, 34), (3, -7), (300, 4)]